@use '../utils' as *;

/*
 ::::::::::::::::::::::::::
  BACKGROUNDS AREA CSS
 ::::::::::::::::::::::::::
 */

 .sec-bg1 {
    background-color: var(--vtc-bg-common-1);
 }

 .sec-bg2 {
   background-color: var(--vtc-bg-common-3);
}

.sec-bg3 {
   background-color: var(--vtc-bg-common-5);
}

.sec-bg4 {
   background-color: var(--vtc-bg-common-12);
}

.sec-bg5 {
   background-color: var(--vtc-bg-common-13);
}

.sec-bg6 {
   background-color: var(--vtc-text-title1);
}


 /*
 ::::::::::::::::::::::::::
  BACKGROUNDS AREA CSS
 ::::::::::::::::::::::::::
 */