/*
============================
Name:  SEOX - SEO and Digital Marketing Agency Template
Version: 1.0.0
Description: SEOX - SEO and Digital Marketing Agency Template
Author:  Unifato
Author URI: https://themeforest.net/user/unifato/portfolio
Location:
============================
*/


/*

CSS LIST

=<::::::::::::::::::::::::::=>
  HEADER AREA CSS
=<::::::::::::::::::::::::::=>
  NAV MENU AREA CSS
=<::::::::::::::::::::::::::=>
  WELCOME AREA CSS
=<::::::::::::::::::::::::::=>
  ABOUT AREA CSS
=<::::::::::::::::::::::::::=>
  SERVICE AREA CSS
=<::::::::::::::::::::::::::=>
  ACCOUNT AREA CSS
=<::::::::::::::::::::::::::=>
  FEATURES AREA CSS
=<::::::::::::::::::::::::::=>
  BRAND AREA CSS
=<::::::::::::::::::::::::::=>
  CHOOSE AREA CSS
=<::::::::::::::::::::::::::=>
  PRRELOADER AREA CSS
=<::::::::::::::::::::::::::=>
  PRICING AREA CSS
=<::::::::::::::::::::::::::=>
  TEAM AREA CSS
=<::::::::::::::::::::::::::=>
  TESTIMONIAL AREA CSS
=<::::::::::::::::::::::::::=>
  WORK AREA CSS
=<::::::::::::::::::::::::::=>
  OTHERS AREA CSS
=<::::::::::::::::::::::::::=>
  CONMMON AREA CSS
=<::::::::::::::::::::::::::=>
  BLOG AREA CSS
=<::::::::::::::::::::::::::=>
  CTA AREA CSS
=<::::::::::::::::::::::::::=>
 ANIMATION AREA CSS
=<::::::::::::::::::::::::::=>
  BUTTONS AREA CSS
=<::::::::::::::::::::::::::=>
  TYPOGRAPHY AREA CSS
=<::::::::::::::::::::::::::=>
  FOOTER AREA CSS
=<::::::::::::::::::::::::::=>
*/

@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './components/fontawesome';
@import '/node_modules/magnific-popup/dist/magnific-popup.css';
@import './components/select';
@import '/node_modules/slick-slider/slick/slick.css';
@import '/node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import '/node_modules/aos/dist/aos.css';
@import 'https://unpkg.com/swiper/swiper-bundle.min.css';
@import './components/mobile';
@import './components/select';
@import '/node_modules/lightbox2/dist/css/lightbox.css';
@import './components/utility';
@import 'theme';
@import 'components';
@import 'layout';