@use '../../utils/' as * ;

/*
::::::::::::::::::::::::::
 FOOTER AREA 3 CSS
::::::::::::::::::::::::::
*/

.vl-footer-social3 {
    a {
        display: inline-block;
        height: 36px;
        width: 36px;
        text-align: center;
        line-height: 36px;
        background-color: var(--vtc-bg-common-9);
        border-radius: 50%;
        margin: 0px 3px;
        color: var(--vtc-text-title1);
        transition: all .4s;

        &:hover {
            transition: all .4s;
            background-color: var(--vtc-bg-main4);
            transform: translateY(-5px);
            color: var(--vtc-bg-white);
        }
    }
}

.vl-footer-widget-black1 {
    h4 {
        color: var(--vtc-text-title1);
        font-size: var(--f-fs-font-24);
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 100% */
        text-transform: capitalize;
        padding-bottom: 24px;
    }

    .vl-footer-list {
        ul {
            li {
                a {
                    color: var(--vtc-text-pera1);
                    font-size: var(--f-fs-font-16);
                    font-style: normal;
                    font-weight: var(--f-fw-normal);
                    line-height: var(--f-fs-font-16); /* 100% */
                    padding: 10px 0px;
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        transition: all .4s;
                        color: var(--vtc-bg-main5);
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
}

.vl-footer-contact3 {
    .single-contact-item {
        display: flex;
        align-items: start;
        padding: 10px 0px;

        img {
            filter: brightness(0);
        }

        .text {
            a {
                display: inline-block;
                color: var(--vtc-text-title1);
                font-size: var(--f-fs-font-16);
                font-style: normal;
                font-weight: var(--f-fw-normal);
                line-height: var(--f-fs-font-26); /* 162.5% */
                padding-left: 10px;
                transition: all .4s;

                &:hover {
                    transition: all .4s;
                    color: var(--vtc-bg-main5);
                }
            }
        }
    }
}

.vl-copyright3 {
    padding: 22px 0px;
    &._dv-top {
        border-top: 1px solid var(--vtc-bg-common-8);
    }

    .copyright-text {
        p , a {
            display: inline-block;
            color: var(--vtc-text-pera1);
            font-size: var(--f-fs-font-18);
            font-style: normal;
            font-weight: var(--f-fw-normal);
            line-height: var(--f-fs-font-18); /* 100% */
            position: relative;

            &.add-before {
                padding-left: 40px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 15px;
                    height: 18px;
                    width: 2px;
                    background-color: var(--vtc-bg-white30per);
                }
            }
        }
        a {
            transition: all .4s;
            &:hover {
                transition: all .4s;
                color: var(--vtc-bg-main5);
            }
        }

        &.right-side {
            @media #{$md} {
                padding-top: 20px;
            }
            @media #{$xs} {
                padding-top: 20px;
            }
        }
    }
}

.footer3-bottom-content {
    padding-bottom: 200px;
}

.footer3-bg-image {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: -1;
}

/*
::::::::::::::::::::::::::
 FOOTER AREA 3 CSS
::::::::::::::::::::::::::
*/