@use '../utils' as *;

/*
 ::::::::::::::::::::::::::
  PAGINATION AREA CSS
 ::::::::::::::::::::::::::
 */

   .theme-pagination ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .theme-pagination li{
    display: inline-block;
    background: none;
  }

  .theme-pagination li a {
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 55px;
      background-color: var(--vtc-bg-common-3);
      margin: 0 4px;
      transition: all 0.3s;
      display: block;
      color: var(--vtc-text-title1);
      font-size: var(--f-fs-font-18);
      font-weight: var(--f-fw-semibold);
      border-radius: 8px;
      position: relative;
  }
  
  .recent-post-content {
    padding-right: 20px;
  }
  
  .theme-pagination li a:hover, .theme-pagination li a.active {
    background: var(--vtc-bg-main4);
    transition: all 0.3s;
    color: var(--vtc-text-white);
  }

 /*
 ::::::::::::::::::::::::::
  PAGINATION AREA CSS
 ::::::::::::::::::::::::::
 */