@use '../../utils/' as * ;


/*
::::::::::::::::::::::::::
 BLOG RECENT POST AREA CSS
::::::::::::::::::::::::::
*/


/*
::::::::::::::::::::::::::
 BLOG RECENT POST AREA CSS
::::::::::::::::::::::::::
*/