@use '../../utils/' as * ;

  /*
 ::::::::::::::::::::::::::
  CASE STUDY AREA CSS
 ::::::::::::::::::::::::::
 */


// ==== case study style 1 ====

.testimonial2-slider-area {
  position: relative;
  z-index: 1;
  .rev_slider {
      .slick-slider {
          margin-left: -20%;
          margin-right: -20%;
        }

        .theme-btn8 {
          &:hover {
            background-color: var(--vtc-text-title1);
          }
        }
        
        .slick-list {
          padding-top: 10%!important;
          padding-bottom: 6%!important;
          padding-left: 15%!important;
          padding-right: 15%!important;
        }
        
        
        .slick-track {
          max-width: 100%!important;
          transform: translate3d(0, 0, 0)!important;
          perspective: 100px;
        }
        
        .slick-slide {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          opacity: 0;
          width: 100%!important;
          transform: translate3d(0, 0, 0);
          transition: transform 1s, opacity 1s;
        }
        
        .slick-snext,
        .slick-sprev {
          display: block;
        }
        
        .slick-current {
          opacity: 1;
          position: relative;
          display: block;
          transform: translate3d(0, 0, 10px);
          z-index: 2;  
        }
        
        .slick-snext {
          opacity: 1;
          transform: translate3d(20%, 0, 0px);
          z-index: 1;
        }
        
        .slick-sprev {
          opacity: 1;
          transform: translate3d(-20%, 0, 0px);
        }
        
        .rev_slide {
          margin-left: 30px;
          &.slick-center {
              .text {
                  visibility: visible;
                  opacity: 1;
                  transition: all .4s;
              }
          }
          .test {
              display: block;
              width: 100%;
              height: 520px;
              width: 460px;
              img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  border-radius: 8px;
              }
            }
            .text {
              text-align: center;
              margin-top: -30px;
              visibility: hidden;
              opacity: 0;
              transition: all .4s;
              margin-left: 21px;
              margin-right: 85px;
              p {
                  color: var(--ztc-text-text-5);
                  font-family: var(--ztc-family-font2);
                  font-size: var(--ztc-font-size-font-s44);
                  font-style: normal;
                  font-weight: var(--ztc-weight-bold);
                  span {
                      color: rgba(9, 11, 14, 0.40);
                      transition: all .4s;
                      display: inline-block;
                  }
              }
            }
        }
        .slick-arrow {
          height: 70px;
          width: 70px;
          text-align: center;
          line-height: 66px;
          border-radius: 50%;
          transition: all .4s;
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.055);
          color: var(--vtc-bg-main6);
          outline: none;
          font-size: var(--f-fs-font-28);
          background-color: var(--vtc-text-white);
          border: none;

          @media #{$md} {
              display: none;
          }
          @media #{$xs} {
              display: none;
          }
          &:hover {
              background: var(--vtc-bg-main6);
              transition: all .4s;
              color: var(--vtc-text-white);
          }
          &.prev-next {
              position: absolute;
              left: -90px;
              top: 50%;
              margin-top: -62px;       
          }
          &.next-prev {
              position: absolute;
              right: -90px;
              top: 50%;
              margin-top: -62px;
          }
        }
  }
}

// ==== case study style 1 ====

/*
 ::::::::::::::::::::::::::
  CASE STUDY AREA CSS
 ::::::::::::::::::::::::::
 */