@forward 'about';
@forward 'service';
@forward 'faq';
@forward 'case-study';
@forward 'choose';
@forward 'team';
@forward 'testimonial';
@forward 'work';
@forward 'others';
@forward 'contact';
@forward 'pricing';
@forward 'shop';
@forward 'features';